.container {
  margin-top: 10 px;
}

.purchase-card{
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
}

.purchase-card > .show-grid {
  padding-bottom: 1.5em;
}

.btn1 {
  display: flex;
  padding: 0px 5% .25px;

}

.btn2 {
  display: flex;
}

.cart {
  display:inline-flex;
  padding: 10px 10px 10px 70px; 
}

button {
  background-color: orange;
  border-radius: 4px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

button:hover{
  background-color: rgb(90, 50, 0);
}

button:active{
  background-color: darkred;
}

.col-md-6{
  color:black;
  font-family: Arial, Helvetica, sans-serif;
}

.ratings{
 color: red;
 font-family: Arial, Helvetica, sans-serif;
 padding: 0% 4.5%
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 700;
  padding: 0% 4.5%;
}

